body {
    display: flex;
    width: 1280px;
    flex-direction: column;
    gap: 64px;
    background-color: #F6EFE1;
    font-family: "IBM Plex Mono";

}

p {
    font-size: 21px;
}

.flex-container {
    display: flex;
    gap: 64px;
    max-width: 1000px;
    padding: 64px;
    margin: 0 auto;

}

#about-us-image {
    border-radius: 25px;
    width: 267px;
    height: 400px;
    object-fit: cover;



}

.about-us-content {
    flex: 1;
    align-self: stretch;
}

.title {
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

hr {
    height: 1px;
    background-color: black;
    border: none;
}